body{
    background: #629c97;
    margin: 0px;
}

body::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(28, 205, 250),#00ff11);
    clip-path: circle(30% at 90% 40%);
    position: fixed; 
}

.container{
    width: 100%;
    margin: 0%;
    margin-left: 40px;
}


.navigation{
    background-color: #17851f;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 3px;
    padding-left: 35px;
}




.container div{
    width: calc(82% / 4);
    margin: 1%;
    text-align: center;
    float: left;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20pxs;
    z-index: 1;
}

img{
    width: 50%;
}

h3{
    justify-content: center;
}

h4{
    background-color: rgba(255, 235, 205, 0.76);
    border-bottom:rgba(255, 255, 255, 0.1) 5px solid;
    border-top: rgba(255, 255, 255, 0.1) 5px solid;
    margin-top: 20px;
    border-radius: 10px;
    letter-spacing: .8px;
}
.header .navigation h1{
    padding-left: 30px;
    width: 250px;
    font-size: 1.5em;
    margin-right: 0px;
    float: left;
    letter-spacing: 4px;
}

.header .navigation{
    float: left;
    margin: 0px;
    padding-bottom: -15px;
}

.header{
    width: 100%;
}

.navigation ul li a{
    text-decoration:white;
    color: #fff;
    margin-left: 30px;
}

.navigation ul li{
    list-style: none;
    margin-top: 25px;
    letter-spacing: 1px;
}

.navigation ul{
    margin-right: 100px;
    margin-left: 300px;
}